<div class=" container-fluid footer">
    <div class="row">
<div class="col-lg-4">
    <div>PORTFOLIO</div>
</div>
<div class="col-lg-4">
    <a routerLink="home">Home</a>
    <a routerLink="about">About</a>
    <a routerLink="projects">Portfolio</a>
    <a routerLink="Skills">Skills</a>
    <a routerLink="education">Education</a>
</div>
<div class="col-lg-4">
    <a href="https://github.com/Prakashvyawhare" class="fa fa-git-square" aria-hidden="true"></a>
    <!-- <a href="" class="fa fa-facebook-square" aria-hidden="true"></a> -->
    <a href="https://github.com/Prakashvyawhare" class="fa fa-linkedin-square"></a>
    <!-- <a href="" class="fa fa-youtube-square"></a> -->
    <a href="https://github.com/Prakashvyawhare" class="fa fa-twitter-square"></a>
    <a href="https://github.com/Prakashvyawhare" class="fa fa-instagram"></a>
    
</div>
</div>
</div>