
<!-- <div class="card">
  <img [src]="CandidateService.myDetails.profile" alt="John" style="width:100%">
  <h1>{{CandidateService.myDetails.name}} {{CandidateService.myDetails.FatherName}} {{CandidateService.myDetails.surName}}</h1>
  <p class="title" class="fa fa-envelope-o">{{CandidateService.myDetails.email}} </p>
  <p class="title" class="fa fa-phone">{{CandidateService.myDetails.Contact}} </p>
  <p>Date of birth: {{CandidateService.myDetails.dateOfBirth}}</p>
  <p>Gender: {{CandidateService.myDetails.gender}}</p>
  <p>Material Status : {{CandidateService.myDetails.MaterialStatus}} </p>
  
  <a href="https://github.com/Prakashvyawhare"class="fa fa-github-square" ></a>
  <a href=""></a> -->
<div class="container" >
<h4>Basic Details</h4>
<h5>About</h5>
<hr>
<p>Full Name :  Prakash Vasant Vyawhare</p>
<p>Date of Birth :  10 September, 1999</p>
<p>Gender :    Male</p>
<p>College : Genba Sopanroa Moze Trust's Parvatibai Genba Moze College of Engineering, Pune</p>
<!-- <p>Course : Mechanical Engineering</p> -->
<p>Passout :2022 Passout </p>
</div>
<div class="container">
<h5>Address</h5>
<hr>
<p>Permanent Address : 

    At Palasgaon Gangapur, Aurangabad, Auranagabad, Maharashtra, India, 423702</p>
    <p>Current Address : 

        At Palasgaon Gangapur, Aurangabad, Auranagabad, Maharashtra, India, 423702</p>
</div>